body {
	background:#2d2f2f;
	font-size:30px;
	line-height: 1.0em;
	color:#d9dede;
	font-family: Century Gothic;
	}

	h1 { font-size:50px;
		line-height: 1.0em;
		}

	p, h2 { font-size: 17px;
		line-height: 1.0em;
		}
	
	a { color: #769e9c;
		}
		
	ul, h2 {margin-top: 20px; 
		margin-bottom:20px;
		font-size: 17px;
		}

		h2 {
		font-size: 20px;
		}

	ol { margin-bottom:20px;
		font-size: 13px;
		}

a {color: ;}
	h1, h2, p, ul, ol { padding-left:50px;

		}
		#main {		}

				img {
					display: block;
					margin-right:2%;
					float: right;
					max-width: 50%;
					height: auto;
					}

				iframe {
					display: block;
					margin-right:2%;
					float: right;
					}