body {
	background:#192924;
	font-size:25px;
	line-height: 1,0em;
	color:#d9dede;
	font-family: Eurostile;	
	}

	h1 { font-size:30px;
		line-height: 1.0em;
		}

	p, h2 { font-size: 17px;
		line-height: 1,0em;
		}
	
	a { color: #769e9c;
		}
		
	ul, h2 {margin-bottom:17px;
		font-size: 17px;
		list-style-type: none;

		}

	ol { margin-bottom:15px;
		font-size: 17px;
		list-style-type: square;
		font-family: Eurostile;
		}

	h3 {margin-bottom:10px; 
		font-size: 20px;
		}

a {color: ;}
	h1, h2, p, ul, ol { padding-left:30px;

		}
		#main {		}

				img {
					display: block;
					margin-right:2%;
					float: right;
					max-width: 50%;
					height: auto;
					}

				iframe {
					display: block;
					margin-right:2%;
					float: right;
					}